//**************************
//  Colors
//**************************
$brand-primary: #0DAD8D;
$primary: $brand-primary;

$brand-compliment: #FF7013;

$white: #fff;
$black: #000;

$table-bg-hover: rgba($black, 0.03);

$navbar-dark-color: rgba($white, 0.8);
$navbar-dark-hover-color: $white;
$navbar-dark-active-color: rgba($white, 1);

//**************************
//  Sizing
//**************************
$rem-base: 16px;
$custom-file-width: 14rem;

// Header
$header-nav-height: 64px;

// Footer
$footer-height: 8rem;
$footer-margin: 3rem;