@import "styles/base";

$slide-height: 250px;

.jumbo-slider {  
  display: flex;
  margin: auto;
  padding: 0;
  align-items: stretch;

  &__scroller {
    flex: 1;
    margin: 0;
    overflow: hidden;
    padding: 0;

    ul {
      display: flex;
      flex-flow: row nowrap;
      list-style-type: none;
      margin: 0;
      padding: 0;
      transition: transform 1s ease-in-out;

      li {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        flex: 1 0 100%;
        height: $slide-height;
        width: 100%;
        margin: 0;
        overflow: hidden;

        img {
          width: 100%;
        }
      }
    }
  }
}
