@import "styles/base";

.jumbo-slider {  
  display: flex;
  margin: auto;
  padding: 0;
  align-items: stretch;

  &__scroller {
    flex: 1;
    margin: 0;
    overflow: hidden;
    padding: 0;

    ul {
      display: flex;
      flex-flow: row nowrap;
      list-style-type: none;
      margin: 0;
      padding: 0;
      transition: transform 1s ease-in-out;

      li {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        flex: 1 0 100%;
        height: 250px;
        width: 100%;
        margin: 0;
        overflow: hidden;

        img {
          width: 100%;
        }
      }
    }
  }

  // figure {
  //   display:flex;
  //   flex: 1 100%;
  //   justify-content: center;
  //   align-items: center;
  //   flex-wrap: wrap;
  //   // display: inline-block;
  //   // width: 100%;
  //   // overflow: hidden;
  // }
}
