@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Boilerplate</title>
    <base href="~/" />

    <environment names="Development">
        <link rel="stylesheet" href="~/dist/site.css" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/dist/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>

    @RenderBody()

    <script src="~/dist/client.js"></script>
</body>
</html>
