@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Boilerplate</title>
    <base href="~/" />
</head>
<body>

    @RenderBody()

    <script src="~/dist/client.js"></script>
</body>
</html>
