@import "styles/base";
@import "bootstrap/scss/bootstrap";

html,
body,
#app-root {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-size: $rem-base;
}

.viewport {
  @extend #app-root;
  
  &__content {
    min-height: 100%;
    margin-bottom: -$footer-height;

    &:before {
      content: '';
      display: block;
      width: 100%;
      height: $header-nav-height;
    }

    &:after {
      content: "";
      display: block;
      height: $footer-height;
      margin-top: $footer-margin;
    }
  }

  &__footer {
    height: $footer-height;
    background: $gray-100;
  }
}
