@import "./styles/overrides";
@import "bootstrap/scss/bootstrap";

$footer-height: 8rem;

html,
body,
#app-root {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-size: $rem-base;
}

.viewport {
  @extend #app-root;

  &__content {
    min-height: 100%;
    margin-bottom: -$footer-height;

    &:after {
      content: "";
      display: block;
      height: $footer-height;
    }
  }

  &__footer {
    height: $footer-height;
    background: $gray-100;
  }
}
